@import './normalize.css';

@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/Tomorrow-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Tomorrow-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Tomorrow-Bold.ttf') format('truetype');
}

:root {
  --font-stack: 'Tomorrow', 'Helvetica', 'Noto Color Emoji',
    'Noto Emoji', 'Yu Gothic', 'YuGothic', sans-serif;
  --mainBg: #fff;
  --text: #333;
  --bg: #fff;
  --bg-d: #f4f4f4;

  --pagePadLr: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--mainBg);
  user-select: none;

  font-size: 15px;
  line-height: 1.6;
  font-weight: 500;
  font-family: var(--font-stack);
  font-display: swap;
  color: var(--text);

  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
html {
  max-width: 100%;
  min-width: 100%;
  margin: 0;
}

a,
a:visited,
a:active,
a:hover,
.fakelink {
  // color: inherit;
  text-decoration: none;

  // &:hover {
  // text-decoration: underline;
  // }
}

.bold {
  font-weight: bold;
}
.highlight {
  color: var(--highlight);
}
.textshadow {
  text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

.fullpage {
  width: 100vw;
  margin-left: calc(var(--pagePadLr) * -1);
  margin-right: calc(var(--pagePadLr) * -1);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 300;
  margin: 0;
}

*:disabled,
.disabled {
  filter: grayscale(50%) brightness(0.5);
  pointer-events: auto;
  cursor: not-allowed;
}
.notallowed {
  cursor: not-allowed;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: 1px dashed var(--text);
  opacity: 0.2;
  margin: 0.7em auto;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.gridgap,
.gap {
  grid-gap: 1rem;
  gap: 1rem;
}
.gapsmall {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}
.gaptiny {
  grid-gap: 0.25rem;
  gap: 0.25rem;
}

.pre {
  white-space: pre-wrap;
}

.shadow {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.outline {
  box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.5);
}

.sub {
  opacity: 0.6;
  font-size: 0.8em;
  line-height: 1.2;
}
.small {
  font-size: 0.8em;
  line-height: 1.2;
}
.medium {
  font-size: 0.9em;
}
.big {
  font-size: 1.15em;
}
.fade {
  opacity: 0.6;
}
.sub.fade {
  opacity: 0.4;
}
.normal {
  font-weight: normal !important;
}
.uppercase {
  text-transform: uppercase;
}
.breakword {
  word-break: break-word;
}
.smallcaps {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8em;
}

.rounded {
  border-radius: 0.5em;
  overflow: hidden;
}
.nooverflow {
  overflow: hidden;
}

.underline {
  text-decoration: underline;
}

.nobg {
  background: none !important;
}

.fullwidth {
  width: 100%;
}

button,
.button {
  border: none;
  background: var(--highlight, #555);
  color: white !important;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 0.3em 0.5em;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 500;
  font-family: var(--font-stack);
  text-align: center;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px;
  margin-left: 0;
  margin-top: 0;

  &.invert {
    background: white;
    color: var(--highlight, #555) !important;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    filter: brightness(0.8);
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
  }

  &.big {
    display: flex;
    width: 100%;
    padding: 1em 2em;
  }
}

.flex {
  display: flex;
}
.flexwrap {
  display: flex;
  flex-wrap: wrap;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexverticalcenter,
.flexvertcenter {
  display: flex;
  align-items: center;
}
.flexbetween {
  display: flex;
  justify-content: space-between;
}
.flexstretch {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  & > * {
    flex-grow: 1;
  }
}
.noflex {
  flex-grow: 0;
  flex-shrink: 0;
}
.flexgrow {
  flex-grow: 1;
}
.flexshrink {
  flex-shrink: 1;
}

.padnone,
.nopad {
  padding: 0 !important;
}
.nopadtop,
.padtopnone {
  padding-top: 0 !important;
}
.nopadleft,
.padleftnone {
  padding-left: 0 !important;
}
.nopadright,
.padrightnone {
  padding-right: 0 !important;
}
.nopadbot,
.padbotnone {
  padding-bottom: 0 !important;
}
.marnone,
.nomar {
  margin: 0 !important;
}
.nomartop,
.martopnone {
  margin-top: 0 !important;
}
.nomarleft,
.marleftnone {
  margin-left: 0 !important;
}
.nomarright,
.marrightnone {
  margin-right: 0 !important;
}
.nomarbot,
.marbotnone {
  margin-bottom: 0 !important;
}

.mar {
  margin: 1em !important;
}
.marsmall {
  margin: 0.5em !important;
}
.marbig {
  margin: 1.5em !important;
}
.martiny {
  margin: 0.25em !important;
}
.martop {
  margin-top: 1em !important;
}
.marauto {
  margin: auto !important;
}
.martopsmall {
  margin-top: 0.5em !important;
}
.martopbig {
  margin-top: 1.5em !important;
}
.martoptiny {
  margin-top: 0.25em !important;
}
.marbot {
  margin-bottom: 1em !important;
}
.marbotsmall {
  margin-bottom: 0.5em !important;
}
.marbotbig {
  margin-bottom: 1.5em !important;
}
.marbottiny {
  margin-bottom: 0.2em !important;
}
.marleft {
  margin-left: 1em !important;
}
.marleftsmall {
  margin-left: 0.5em !important;
}
.marleftbig {
  margin-left: 1.5em !important;
}
.marlefttiny {
  margin-left: 0.25em !important;
}
.marright {
  margin-right: 1em !important;
}
.marrightsmall {
  margin-right: 0.5em !important;
}
.marrightbig {
  margin-right: 1.5em !important;
}
.marrighttiny {
  margin-right: 0.2em !important;
}
.marauto,
.marginauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.pad {
  padding: 1em !important;
}
.padsmall {
  padding: 0.5em !important;
}
.padbig {
  padding: 1.5em !important;
}
.padtiny {
  padding: 0.25em !important;
}
.padtop {
  padding-top: 1em !important;
}
.padtopsmall {
  padding-top: 0.5em !important;
}
.padtopbig {
  padding-top: 1.5em !important;
}
.padtoptiny {
  padding-top: 0.25em !important;
}
.padbot {
  padding-bottom: 1em !important;
}
.padbotsmall {
  padding-bottom: 0.5em !important;
}
.padbotbig {
  padding-bottom: 1.5em !important;
}
.padbottiny {
  padding-bottom: 0.2em !important;
}
.padleft {
  padding-left: 1em !important;
}
.padleftsmall {
  padding-left: 0.5em !important;
}
.padleftbig {
  padding-left: 1.5em !important;
}
.padlefttiny {
  padding-left: 0.25em !important;
}
.padright {
  padding-right: 1em !important;
}
.padrightsmall {
  padding-right: 0.5em !important;
}
.padrightbig {
  padding-right: 1.5em !important;
}
.padrighttiny {
  padding-right: 0.2em !important;
}

.relative {
  position: relative;
}

.z2 {
  z-index: 2;
}

.scroll {
  overflow-y: scroll;
}
.hidescrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.nopointer {
  pointer-events: none;
}
.selectable {
  user-select: text;
}
.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.inline,
.inlineblock {
  display: inline-block;
}

.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}
.displaynone {
  display: none !important;
}
